*{
    margin:0;
    padding:0;
}
main{
    margin-top: 1rem;
    background-color: #9DC7C8;
    width: 100vw;
    height: 100vh;
}
#title{
    font-size: xx-large;
    background-color:#33658A;
    color:#E1EFE6;
    text-shadow:4px 2px #23425b;
    width:80%;
    height:auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 40px;
}
.date{
    display: grid;
    grid-template-columns: auto;
}